// COLORS
$color-purple: #603678;
$color-purple-dark: #523960;

$color-blue: #3870ba;

$color-black: #000;

$color-white: #fff;

// FONT
$default-font-size: 1.6rem;
$title-font: 'Sabandija FFP', sans-serif;
$paragraph-font: 'Open Sans', sans-serif;
