.info {
  padding-top: 3rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__titulo {
    width: 40%;
    color: $color-purple-dark;

    text-align: center;
  }

  &__conheca {
    width: 55%;
    margin-top: 2rem;
    text-align: center;

    bold {
      font-weight: 700;
    }
  }

  &__brasil {
    width: 60%;
    margin-top: 1.8rem;
    text-align: center;
  }

  &__mapa {
    padding: 7rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &--texto {
      width: 25%;
      margin-right: 8rem;
      position: relative;

      &::before {
        display: block;
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        top: -20px;
        left: -20px;
        border-top: 2px solid $color-blue;
        border-left: 2px solid $color-blue;
      }

      &::after {
        display: block;
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        top: -20px;
        right: -20px;
        border-top: 2px solid $color-blue;
        border-right: 2px solid $color-blue;
      }

      p:first-child {
        margin-bottom: 3rem;
      }

      p:last-child {
        &::before {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          position: absolute;
          bottom: -20px;
          left: -20px;
          border-bottom: 2px solid $color-blue;
          border-left: 2px solid $color-blue;
        }

        &::after {
          display: block;
          content: '';
          width: 60px;
          height: 60px;
          position: absolute;
          bottom: -20px;
          right: -20px;
          border-bottom: 2px solid $color-blue;
          border-right: 2px solid $color-blue;
        }
      }

      bold {
        font-weight: 700;
      }
    }

    img {
      width: 25%;
    }
  }

  &__relato {
    width: 70%;

    display: flex;
    align-items: center;

    img {
      height: 150px;
      position: relative;

      &::after {
        content: '';
        height: 150px;
        width: 150px;
        border: 5px solid $color-purple;
        border-radius: 50%;
        position: absolute;
        top: 0;
      }
    }

    &--texto {
      margin-left: 80px;
      padding: 20px;
      background-color: $color-purple;
      color: $color-white;
      border-radius: 1px;
      position: relative;

      &::before {
        content: '';
        height: 100px;
        border-top: 50px solid transparent;
        border-right: 50px solid $color-purple;
        border-bottom: 50px solid transparent;

        position: absolute;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
      }

      p:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__vantagem {
    width: 65%;
    margin-top: 40px;
    text-align: center;

    &--titulo {
      text-transform: uppercase;
    }

    &--itens {
      color: $color-purple;
    }

    &--titulo,
    &--itens {
      font-family: 'Sabandija FFP';
    }
  }

  &__rufus {
    width: 65%;
    margin-top: 50px;
    border-bottom: 2px solid $color-purple;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      text-align: center;
      margin: 0 40px;
    }

    img {
      margin-left: 10px;
      height: 200px;
    }
  }
}
