@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@font-face {
  font-family: 'Sabandija FFP';
  src: url('../../fonts/Sabandija-font-ffp.ttf');
}

body {
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Sabandija FFP', sans-serif;
  letter-spacing: 0.06em;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

p,
span {
  font-family: 'Open Sans', sans-serif;
}
